<div class="col-xs-10 col-xs-offrset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/LogicLiving">Paul</a>. A web developer, who likes to build web apps for fun.
	</p>
	<br />
	<p>
		This is my first web application. I hope you like it. I spent many nights learning how to write the code required to build out this application. It has a form feature that takes a quote, and author, and stores it in a database. The form has a validator that will not allow input less than 3 characters and more than 140 characters.
	</p>
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'logicliving.png', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Paul Jackow</h2>
		<br />
		<p>
			Paul Jackow is a beginer web developer, I have a passion for all things technology and computers. This is my first web application. 
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />

</div>